# Copied from .gitignore
/.idea/
/build/
/coverage/
/dist/
/jspm_packages/
/node_modules/
/report/
/typings/
.DS_Store
.tgz
.npmrc
yarn.lock

# Additional ignores
/src/
/test/
*.js.map

# Root files
.gitignore
.gitattributes
.travis.yml
.npmignore
gulpfile.js
config.js
karma.conf.js
tsconfig.json
tslint.json
typings.json

